<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-6">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="col-10 justify-content-between mt-5 border p-3 mb-2 bg-light text-dark">
            <li class="col-6 justify-content-between mt-5">
              
            <a href="/post/<%= posts[i]._id%>">
              <img src="<%= posts[i].image%>" class="rounded mx-auto d-block">
            </a>
          </li>
          </div>
        <% } %>
        </ul>
        
        </div>
    </div>
  </div>  
 


<%- include('partials/footer') -%>

