
	<!DOCTYPE HTML>
	<!--
		Story by Pixelarity
		pixelarity.com | hello@pixelarity.com
		License: pixelarity.com/license
	-->
	<html>
		<head>
			<title>My Stretch Break</title>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="assets/css/main.css" />	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
			<!--Bootstrap
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
		</head>
		<header class="container">
			<div class="text-center">
		   
		  </div>
		  <nav class="">
			<a class="navbar-brand" href="/"></a>
			<div class="" id="navbarNav">
				<ul class="" id="">
			<li><img src="https://i.ibb.co/C9XdcJ7/Untitled-design-62.png" alt="My Stretch App Logo">
			   My Stretch Break
			  </a></li>
			
				<li class="nav-item active">
				  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/profile">My Journal</a>
				</li>
				<!--<li class="nav-item">
				  <a class="nav-link" href="/feed">Feed</a>
				</li>
				<li><a href="/login">Login</a></li>
				<li><a href="/logout">Logout</a></li>-->
			  </ul>
			</div>
		  </nav>
		</header>
		<body class="is-preload">
	



		<!-- Wrapper -->
			<div id="wrapper" class="divided" >

					<!-- Two -->
					<section class="firstcontainer spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="">

						<div class="image">
							
			<img src="img/tv.png">

					</div>
					<div class="firstcontainer" class="" >
						<h1 class="center">Take a 5 Minute Stretch Break</h1>
						<p class="major">It's time to take a break! Start the timer and select a stretch.
							 <br> Breathe deeply and move slowly into poses.
							  <br>Try not to force your body into positions that do not feel good.
							  Track your progress for challenging poses via your Stretch Journal!<br>
							</p>	
						</div>
					
					</section>


<!-- One -->
<!--<section class="banner style1 spotlight  image-position-center onscroll-image-fade-in" id="stretchcontainer">-->
	<section class="banner style1 spotlight  image-position-center onscroll-image-fade-in " id="stretchcontainer" >					
		  <div class="" class="firstcontainer" >
			<img id="eyesup" class="hidden" src="img/cloudfloat.jpg" />
		</div>
<!-- Timer -->
	
		<div class="selectioncontainer">
			<h2 class=" center">Start timer</h2>
			<div class="center" id="app">
			</div>
			<div class="center" id="">
				<input type="button" onclick="starTimer()" value="Start" />
				<input type="button" " onclick="pauseTimer()" value="Pause"/>
				<input type="button" onclick="resetTimer()" value="Reset" /><br><br>
			</div><br><br>
<!-- Stretchbox -->
			<div class="bodypartsbox" id="stretchbuttons">
				<h2 class="center">Choose a body part to stretch</h2>
				<p class="center"> Hold or move through each pose for 3-5 breaths</p>
				<p></p>
				<div class= "center" id="timerbuttons" >
					<input type="button" " id="eyesnext" value="eyes"/>
					<input type="button" " id="necknext" value="Neck"/>
					<input type="button" " id="shouldersnext" value="Shoulders"/>
					<input type="button" " id="handnext" value="Hands"/>
					<!--
					<div class="click"><button id="eyesnext">Eyes</button></div>
					<div class="click"><button id="shouldersnext">Shoulders</button></div>
					<div class="click"><button id="handnext">Hands</button></div>
					<div class="click"><button id="necknext">Neck</button></div>-->
				</div>
			</div>
		</div>
	</section>
<!--MY STRETCH DIARY AREA-->
<section class="centerrow" id="" >
	<h2>My Break Journal</h2>
	<p>How are you feeling today?<br> What are you working on?<br> Post a photo of your stretch to log your progress on your profile!</p>
	<form action="/post/createPost" enctype="multipart/form-data" method="POST">
	<div class="container pb-cmnt-container">
	  <label for="caption" class="form-label"></label>
	  <textarea class="form-control" id="caption" name="caption">Log in to add an entry to your Journal</textarea>
	</div>
	<div class="mb-3">
	  <label for="imgUpload" class="form-label"></label>
	  <input type="file" class="form-control" id="imageUpload" name="file">
	</div>
	<button type="submit" class="btn btn-outline-secondary" value="Upload">Submit</button>
  </form>
  <a href="/login" id="timerbuttons" >Login</a>
  <a href="/signup" type="button" >Sign up</a>
  <a href="/signout" type="button" >Sign Out</a>

</section>




				
				

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy; Africa Kenyah</p>
						</div>
					</footer>

			</div>


	<!-- Scripts -->
	<!--Bootstrap-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>
</html>
