<!DOCTYPE HTML>
<html>
	<html lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<head>
		<title>Sign Up</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />	
		<link rel="stylesheet" href="assets/css/noscript.css" />
		<link rel="stylesheet" href="assets/css/style.css" />
		<!--Bootstrap
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
	</head>
  <header class="header">
    <div class="brand">
      <div id="nav-burger" class="nav-burger is-active">
        <img src="https://res.cloudinary.com/dtamwfybo/image/upload/v1669549635/hamburger-button_j9fikl.png" alt="Menu" class="nav-icon">
      </div>
      <a href="/" class="brand-logo">
      <img src="https://res.cloudinary.com/dtamwfybo/image/upload/v1669548981/Untitled_40_40_px_3_uowzta.png" alt="Logo">
      </a>
      <div id="nav-search" class="nav-search is-hidden">
        <input type="search" id="nav-search-bar" placeholder="Search">
        <img src="https://res.cloudinary.com/dtamwfybo/image/upload/v1669549940/cancel-button_jxswqp.png" alt="" id="nav-search-cancel" class="nav-icon">
      </div>
    </div>
    <nav id="nav" class="nav">
      <div id="nav-cancel" class="nav-cancel">
        <img src="https://res.cloudinary.com/dtamwfybo/image/upload/v1669549940/cancel-button_jxswqp.png" alt="logo" class="nav-icon">
      </div>
      <a class="nav-link" href="/">Home </a>
      <a class="nav-link" href="/profile">My Stretch Collection</a>
      <a href="/login" class="nav-link"> Login</a>
      <a href="/logout" class="nav-link">Logout</a>
      <a href="/signup" class="nav-link">Sign up</a>
    </nav>
  </header>
  <main class="container">
      <div class="centerrow">
          <div class="col-6 mt-5">
            <h1 class="centerrow"> Sign Up</h1>
             <div>
              <img src="https://res.cloudinary.com/dtamwfybo/image/upload/v1669494237/Untitled_design_31_azijgq.jpg"  alt="woman meditating"  width="" height=""><br><br><br> </div>
                <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                  <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                    <% } %>
                    <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                    <% } %>
                  <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="userName" name="userName">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password"><br><br><br>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                    </div>
                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                  </form>
           
          </div>
        </div>
    </main>
	  <hr class="solid">
    <footer class="wrapper style1 align-center">


        <p>Built with HTML, CSS, Javascript, NodeJS and MongoDB</p>
        <p>&copy; Africa Kenyah, 2022</p><br>
      </div>
    </footer>
    <!-- Scripts -->
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="assets/js/jquery.min.js"></script>	
    <script src="assets/js/script.js"></script>			
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
