@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
}
body {
margin: 0;
font-family: 'Open Sans', sans-serif;
}

.header {
  padding: 1rem 1rem 1rem 1rem;
}

@media (min-width: 768px) {
  .header {
    padding: 1rem 3rem 1rem 3rem;
  }
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.brand-logo {
  text-decoration: none;
  color: #212529;
  font-size: 1.7rem;
}
.nav-burger, {
  display: none;
}
.nav-burger.is-active, .nav-cancel.is-active {
  display: block;
}
.nav-cancel {
  z-index: 100;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* Search box section  */
.nav-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  background-color: #fff0f6;
  padding: 30px;
 
}
@media (min-width: 768px) {
  .nav-search {
    position: static;
    width: auto;
    padding: 0;
    background-color: #fff;
  }
}
#nav-search-bar {
  padding: 5px 5px;
  margin-right: 10px;
  font-size: 1em;
}
/* End of Search box section  */

.nav-icon {
  padding: 5px 5px;
}

@media (min-width: 768px) {
  .nav-burger.is-active, .nav-cancel {
    display: none;
  }
}
/*    Nav links        */
.nav {
  background-color: #fff0f6;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 90px 30px 90px 30px;
  z-index: 90;
}


.nav.is-active {
  display: inline-block;
}
.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 15px 10px;
  color: #212529;
  margin-bottom: 15px;
  
  width: 100%;
}
.nav-link:hover {
  background-color: #fcc2d7;
}


@media (min-width: 768px) {
  .nav {
    background-color: #fff;
    display: inline-block;
    position: static;
    text-align: center;
    padding: 10px 0px;
    
  }
  .nav-search-bar {
    display: none;
  }
  
  .nav-link {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    width: auto;
  }
  .nav-link:hover {
    background-color: #ffdeeb;
  }
  .nav.is-active {
    display: block;
  }
}

/* Helper classes  */
.is-hidden {
  display: none;
}
/* End of Helper classes  */













/* .header {
  padding:0px 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
} */
/* Logo/ Brand Section       */
/* .brand {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 20px 5px;

}
.brand-logo {
  text-decoration: none;
  color: #212529;
} */
/* End of Logo/ Brand Section     */
/*    Nav links        */
/* .nav {
  background-color: #364fc7;
  padding: 10px 30px;
} */
/* .nav-link {
  text-decoration: none;
  display: block;
  padding:10px;
  color: #fff;
  margin-bottom: 5px;
}
.nav-link:hover {
  text-decoration:none;
  opacity: 0.9;
}
.is-active {
  display: none;
}
.nav-burger {
  position: fixed;
  right: 20px;
} */
/* .nav-cancel{
  position: fixed;
  right: 260px;
} */

/* .nav {
  position: fixed;
  right: 0;
}

@media (max-width: 767px) {
 .nav {
    height: 100vh;
    padding-top: 40px;
  }
}
 */
/* Hide nav links on screens with width below 768px  */
/* @media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .nav-burger {
    display: none;
  } */
  /* .nav-cancel{
    display: none;
  } */
  /*  Desktop  Nav links        */
  /* .nav {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    background-color: #fff;
  } */
/*   .nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 20px 15px;
    color: #212529;
  } */
  /*   End of Nav links        */
/* } */